<a href="https://colab.research.google.com/github/freamwork97/TIS/blob/main/%EA%B8%B0%EC%B4%88%EC%97%B0%EC%8A%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 배열

In [ ]:
# 리스트
L = [1, 2, 3, 4] # , <- 구분
L2 = [5, 6, 7, 8]
# 튜플
T = (1, 2, 3, 4) # , <- 구분
T2 = (5, 6, 7, 8)
print(L, L2)
print(T, T2)

[1, 2, 3, 4] [5, 6, 7, 8]
(1, 2, 3, 4) (5, 6, 7, 8)

In [ ]:
L = [ "abc", 10, ['a','b'], (1,2,3)]
L

['abc', 10, ['a', 'b'], (1, 2, 3)]

In [ ]:
print(type(L))

<class 'list'>

In [ ]:
# 인덱싱
L= ['abc',10,['a','b'],(1,2,3)]
print(L[0], L[1], L[2], L[-1])

# 리스트
L = ['a','b','c','d','e']
print('0번째 요소: {}  3번째 요소{}'.format(L[0],L[3]))

abc 10 ['a', 'b'] (1, 2, 3)
0번째 요소: a  3번째 요소d

In [ ]:
# 다음 리스트 변수 a = [1,2,3,'a','b',True,[4,5,6]]의 첫번째, 세번째, 마지막번째 요소를 추출
a = [1,2,3,'a','b',True,[4,5,6]]
print('첫번째 {} 세번째 {} 마지막 {}'.format(a[0], a[2], a[-1]))

# True는 a변수의 몇 번째 인덱스에 해당하는가
a1 = a.index(True)
a2 = a.index(True,a1+1)
print(a2)

index = a.index(True, 1)
print(index)

첫번째 1 세번째 3 마지막 [4, 5, 6]
5
5

In [ ]:
T = ('a','b','c','d','e')
print('0번째 요소 {} 3번째 요소 {}'.format(T[0],T[3]))

0번째 요소 a 3번째 요소 d

In [ ]:
# 슬라이싱

print(L[1:3])
print(T[1:3])

['b', 'c']
('b', 'c')

In [ ]:
# L대상으로 'b', 'c','d'를 슬라이싱으로 추출
T = ('a','b','c','d','e')
L = ['a','b','c','d','e']
print(L[1:4])
# T대상으로 'c' 'd' 슬라이싱으로 추출
print(T[2:4])

['b', 'c', 'd']
('c', 'd')

In [ ]:
a = [[1,2,3],[4,5,6]]
print(a[0][1])

2

In [ ]:
# a 리스트의 1번째 요소의 2번째 요소를 추출
print(a[1][2])

6

In [ ]:
print((1,2,3)+(4,5))

(1, 2, 3, 4, 5)

In [ ]:
print([1,2,3]+[4,5])

[1, 2, 3, 4, 5]

In [ ]:
L[0] = 'x'
print(L)

['x', 'b', 'c', 'd', 'e']

In [ ]:
# 리스트 변경가능 자료
# 튜플 변경불가능 자료
# 변경하면 안되는 데이터는 튜플로 만들고
# 변경해도 괜찮은 데이터는 리스트로 만든다


L = ['a','b','c','d']


L[1] = 'y'
print(L)
L[2] = 'z'
print(L)

['a', 'y', 'c', 'd']
['a', 'y', 'z', 'd']

In [ ]:
T = ('a','b','c','d')
# T[0] = 'y' 튜플은 변경불가능

In [ ]:
x = [1,2,3]
x.append(4)
print(x)

[1, 2, 3, 4]

In [ ]:
# 예제
# 기존 학급이 '영희' '철수' '만수' 등 3명으로 구성된 학급이 있다.
# '영자'가 전학을 왔다 학급 리스트에 영자를 끝에 추가
Class = ['영희','철수','만수']
Class.append('영자')
print(Class)

['영희', '철수', '만수', '영자']

In [ ]:
# 위 예제와 비교해보자

a = 'c언어는 배우기 쉬운 언어입니다.'
a = a.replace('c언어는','python은')
print(a)

python은 배우기 쉬운 언어입니다.

In [ ]:
# 순서대로 인덱스(=삽입할 위치)와 삽입할 값을 입력

L = [1,3,4,5]
L.insert(1,2)
print(L)

[1, 2, 3, 4, 5]

In [ ]:
L.remove(2)
print(L)

[1, 3, 4, 5]

In [ ]:
# 예제
# 기존 학급이 '영희' '철수' '만수' 등 3명으로 구성된 학급이 있다.
# '영자'가 전학을 왔다 학급 리스트에 영자를 영희 뒤에 추가
Class = ['영희','철수','만수']
Class.insert(1,'영자')
print(Class)

['영희', '영자', '철수', '만수']

In [ ]:
L = ['x','y','z']
L.remove('z')
print(L)

['x', 'y']

In [ ]:
L = [3,1,2,3,3,3,3,2]
L.remove(3)
print(L)

[1, 2, 3, 3, 3, 3, 2]

In [ ]:
L = [1,2,3]
L.pop(1)
print(L)

[1, 3]

In [ ]:
L = [1,2,3]
L.pop()
print(L)

[1, 2]

In [ ]:
a = ['a','b','c','d']
i=1
print(a[:i]+a[i+1:])

['a', 'c', 'd']

In [ ]:
# len <- 길이
L = ['a','b',1,2]
T = (1,2,3)
print(len(L), len(T))

4 3

In [ ]:
# 중첩리스트의 경우
L = [[1,2,3,[10,20,30,40,50]],[4,5,6]]
print(len(L))

2

In [ ]:
print(len(L[0][3]))

5

In [ ]:
L[0][3][:4]

[10, 20, 30, 40]

In [ ]:
(a,b) = (1,2)
print(a,b)

1 2

In [ ]:
(a,b) = (b,a)
print(a,b)

2 1

In [203]:
T = 1,2,3
print(type(T))
print(T)

<class 'tuple'>
(1, 2, 3)

In [205]:
a = [1,2,3]
str(a[2]) +'hi'

'3hi'

In [211]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [212]:
# sort 정렬

a = [1,5,2,3,6,4]
a.sort()
a

[1, 2, 3, 4, 5, 6]

In [213]:
a = ['b','d','a','c','f','e','g','h','z','l']
a.sort()
a

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'l', 'z']

In [214]:
a.reverse()
a

['z', 'l', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [216]:
a = [2,3,4,1,3,3,3,8,7]
a.count(3)

4

In [1]:
a = [1,2,3]
a.extend([4,5,6])
a

[1, 2, 3, 4, 5, 6]

In [1]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [36]:
x = {"a":1, "b":2, 'c':3}

In [30]:
print(x['a'])

1

In [37]:
x['d']=4
x['b']=20
print(x)

{'a': 1, 'b': 20, 'c': 3, 'd': 4}

In [38]:
del(x['a'])
print(x)

{'b': 20, 'c': 3, 'd': 4}

In [39]:
del x['b']
print(x)

{'c': 3, 'd': 4}

In [52]:
# 이름과 거주하는 동이름과 좋아하는 색을 딕셔너리 변수로 만들자
# 참고: x = {'c':3,'a':1,'b':2}
# 변수명 my_profile
my_profile = {'name' : '정스용', 'dong':'청라동', 'color' : '검정'}
print(my_profile)

{'name': '정스용', 'dong': '청라동', 'color': '검정'}

In [53]:
# 기존 프로필에 좋아하는 숫자 추가
my_profile['num'] = 6
print(my_profile)

{'name': '정스용', 'dong': '청라동', 'color': '검정', 'num': 6}

In [54]:
# 잘못 기입한 이름을 옳게 수정
my_profile['name'] = '정승용'
print(my_profile)

{'name': '정승용', 'dong': '청라동', 'color': '검정', 'num': 6}

In [55]:
# 이름은 민간한 정보라 삭제
del my_profile['name']
print(my_profile)

{'dong': '청라동', 'color': '검정', 'num': 6}

In [65]:
# 좋아하는 운동 2가지 추가
my_profile['favorite_sports'] = {'1':'당구','2':'야구'}
print(my_profile)

{'dong': '청라동', 'color': '검정', 'num': 6, 'favorite_sports': {'1': '당구', '2': '야구'}}

In [76]:
print(my_profile.keys())
print(my_profile.values())
print(my_profile.items())

dict_keys(['dong', 'color', 'num', 'favorite_sports'])
dict_values(['청라동', '검정', 6, {'1': '당구', '2': '야구'}])
dict_items([('dong', '청라동'), ('color', '검정'), ('num', 6), ('favorite_sports', {'1': '당구', '2': '야구'})])

In [78]:
x = {'a':1,'b':2,'c':3}

In [81]:
print(x.keys())
print(x.values())
print(x.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [101]:
# 집합자료형 
# 중복 허용하지 않는 자료형
# 인덱싱 슬라이싱 불가능
s1 = {1,2,3,2,1}
s2 = set([1,2,3,2,1])
print(type(s1),type(s2))
print(s1,s2)

<class 'set'> <class 'set'>
{1, 2, 3} {1, 2, 3}

In [108]:
L = [1,2,3,1,2,3]
print(type(L))
print(L)
print('-------------------')
L = set(L)
print(type(L))
print(L)
print('-------------------')
L = list(L)
print(type(L))
print(L)

<class 'list'>
[1, 2, 3, 1, 2, 3]
-------------------
<class 'set'>
{1, 2, 3}
-------------------
<class 'list'>
[1, 2, 3]

In [122]:
# 형변환(자료형 변환)
a=1
b=2.0

a_float = float(a)
print(a_float)


b_int = int(b)
print(b_int)


# tuple -> list

t = (1,2,3)
print(type(t))


print(t)

t_list = list(t)

print(type(t_list))

print(t_list)
t_list[0]=1000

print(t_list)
# list -> tuple

t_again = tuple(t_list)

print(type(t_again))

print(t_again)

1.0
2
<class 'tuple'>
(1, 2, 3)
<class 'list'>
[1, 2, 3]
[1000, 2, 3]
<class 'tuple'>
(1000, 2, 3)

In [124]:
# 교집합
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1 & s2)
print(s1.intersection(s2))
print(s2.intersection(s1))

{3, 4}
{3, 4}
{3, 4}

In [126]:
# 합집합
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1 | s2)
print(s1.union(s2))
print(s2.union(s1))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [129]:
# 차집합
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2}
{5, 6}
{1, 2}
{5, 6}