<a href="https://colab.research.google.com/github/freamwork97/TIS/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
L = [1,2,3,4,5,6,7,8,9,10]

for element in L:
  print(element**2)

1
4
9
16
25
36
49
64
81
100

In [14]:
L = ['a','b','c']
for i in L:
  print(i+'입니다')

a입니다
b입니다
c입니다

In [8]:
for i in range(1,10):
  print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [13]:
for i in range(9,0,-1):
  print('*'*i)

*********
********
*******
******
*****
****
***
**
*

In [16]:
T = (1,2,3,4,5)

for t in T:
  x = t ** 2
  y = t ** 3
  print(t,x,y)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125

In [21]:
# 연습문제
# 1부터 10까지 구성된 리스트를 대상으로 각각의 원소를 세제곱하고 3을 더한 다음 2로 나눈 결과 출력

L = [1,2,3,4,5,6,7,8,9,10]
for i in L:
  a = ((i ** 3)+3)/2
  print(a)

2.0
5.5
15.0
33.5
64.0
109.5
173.0
257.5
366.0
501.5

In [25]:
nested_list = [[1,"a"],[2,'b'],[3,'c']]

for a,b in nested_list:
  print(a,b)

1 a
2 b
3 c

In [27]:
# 리스트에서 각각의 요소 반복문으로 출력
n = [[1,2,3],[4,5,6],[7,8,9]]
for a,b,c in n:
  print(a,b,c)

1 2 3
4 5 6
7 8 9

In [33]:
a = [1,2,3]
b = ['a','b','c']

for a,b in zip(a,b):
  print(a,b)

1 a
2 b
3 c
{1: 'a', 2: 'b', 3: 'c'}

In [40]:
# 두 학급이 있는데 ['철수','만수','성호'], ['영희','영자','순이']을 대상으로 '두 학급의 1번 학생은 철수와 영희'
# 출력

class1 = ['철수','만수','성호']
class2 = ['영희','영자','순이']
num = [1,2,3]
for a,b,c in zip(class1,class2, num):
  print("두 학급의 {}번 학생은 ".format(c)+a,b+" 입니다.")

두 학급의 1번 학생은 철수 영희 입니다.
두 학급의 2번 학생은 만수 영자 입니다.
두 학급의 3번 학생은 성호 순이 입니다.

In [38]:
# 두 학급이 있는데 ['철수','만수','성호'], ['영희','영자','순이']을 대상으로 '두 학급의 1번 학생은 철수와 영희'
# 출력

class1 = ['철수','만수','성호']
class2 = ['영희','영자','순이']
num = [1,2,3]
for a,b,c in zip(class1,class2, num):
  print("두 학급의 {}번 학생은 {} {} 입니다.".format(c,a,b))

두 학급의 1번 학생은 철수 영희 입니다.
두 학급의 2번 학생은 만수 영자 입니다.
두 학급의 3번 학생은 성호 순이 입니다.

In [49]:
for i in range(10):
  print('*'*i)
  if i == 9:
    for a in range(9,0,-1):
      print('*'*a)

*
**
***
****
*****
******
*******
********
*********
*********
********
*******
******
*****
****
***
**
*

In [59]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
n1 = range(1,10)
n2 = range(1,10)
for i in n1:
  for j in n2:
    print(i ,'x', j ,'=', i*j )
  print('-'*10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------

In [66]:
for i in range(5):
  print(i)

0
1
2
3
4

In [67]:
print(list(range(5)))
print(tuple(range(5)))

[0, 1, 2, 3, 4]
(0, 1, 2, 3, 4)

In [68]:
a = [1,2,3]
b = ['a','b','c']

for i in range(len(a)):
  print(a[i],b[i])

1 a
2 b
3 c

In [71]:
a = [1,2,3,4,5]
print(len(a))

5
[0, 1, 2, 3, 4]

In [74]:
# 연습 아래 두 리스트에 대해 a에는 각각의 원소를 제곱 b에는 '입니다용'을 붙여서 출력
a = [1,2,3]
b = ['a','b','c']
for i in range(len(a)):
  print(a[i]**2,b[i]+'입니다용')
  print('-'*10)

1 a입니다용
----------
4 b입니다용
----------
9 c입니다용
----------

In [82]:
L = ['a','b','c']
for idx, value in enumerate(L):
  print(idx,'번 인덱스는', value,'입니다')

0 번 인덱스는 a 입니다
1 번 인덱스는 b 입니다
2 번 인덱스는 c 입니다

In [132]:
for i in ['a','b']:
  print('첫 번째 반복문')
  for j in [1,2]:
    print(i,j)

첫 번째 반복문
a 1
a 2
첫 번째 반복문
b 1
b 2

In [149]:
for i in range(1,10):
  for j in range(1,10):
    print("{} x {} = ".format(i,j),i*j)
  print('-'*10)

1 x 1 =  1
1 x 2 =  2
1 x 3 =  3
1 x 4 =  4
1 x 5 =  5
1 x 6 =  6
1 x 7 =  7
1 x 8 =  8
1 x 9 =  9
----------
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
----------
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
----------
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
----------
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
----------
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
----------
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
----------
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
----------
9 x 1 =  9
9 x 2 =  18
9 x 3 =  27
9 x 4 =  36
9 x 5 =  45
9 x 6 =  54
9 x 7 =  63
9 x 8 =  72
9 x 9 =  81
----------

In [144]:
a = [1,2,3]
b = ['a','b','c']
l = []
for a1 in a:
  print(a1)
  for b1 in b:
    l.append((a1,b1))
    print(l)
  print('-'*10)

print(l)

1
[(1, 'a')]
[(1, 'a'), (1, 'b')]
[(1, 'a'), (1, 'b'), (1, 'c')]
----------
2
[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a')]
[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b')]
[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]
----------
3
[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a')]
[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b')]
[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]
----------
[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [148]:
# 구구단 이중 for문 사용
for i in range(1,10):
  for j in range(1,10):
    print(f"{i} x {j} = {i*j}")
  print('-'*10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------

In [157]:
even_sum = 0

for num in range(1,101):
  if num % 2 == 0:
    even_sum += num
print(even_sum)

2550

In [163]:
result = 0
for i in range(1,100+1):
  result += i
print(result)

5050

In [211]:
for i in range(1,15):
  for a in range(14,i,-1):
    print(" ",end='')
  for b in range(i*2-1):
    print('*',end='')
  print()
for j in range(1,8):
  for c in range(5,j,-1):
    print(' '*9+'*'*9,end='')
    print()

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************
         *********
         *********
         *********
         *********
         *********
         *********
         *********
         *********
         *********
         *********

In [190]:
for i in range(1,15):
  for a in range(14,i,-1):
    print(" ",end='')
  for b in range(i-1):
    print('*',end='')

  print()

            *
           **
          ***
         ****
        *****
       ******
      *******
     ********
    *********
   **********
  ***********
 ************
*************

In [216]:
a = 4
i = 3
a += i
print(a)
a -= i
print(a)
a *= i
print(a)
a /= i
print(a)

7
4
12
4.0

# while

In [220]:
x = 1

while x <=5:
  print(x)
  x += 1

1
2
3
4
5

In [233]:
n = 1
while 2**n < 10**8:
  n += 1

print(n)

27

In [239]:
n = 1
while True:
  if 2 **n > 10 **8:
    break
  n+=1
print(n)

27

In [243]:
num_list = []
for num in range(1,6):
  num_list.append(num)
print(num_list)

[1, 2, 3, 4, 5]

In [255]:
num_list = [num for num in range(1,6)]
print(num_list)

[1, 2, 3, 4, 5]

In [257]:
# 문자열로 구성된 리스트 ['축구','농구','배구']의
# 각각의 원소에 '좋아해요'를 추가
favorite_sports = ['축구','농구','배구']
sport_list = [sport+'좋아해요' for sport in favorite_sports]
print(sport_list)

['축구좋아해요', '농구좋아해요', '배구좋아해요']

In [262]:
a_list = [num for num in range(1,6) if num %2 ==1]
a_list

[1, 3, 5]

In [263]:
dict_a = {i:i**2 for i in range(5)}
dict_a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [264]:
dict_b = {i:i**2 for i in range(5) if i**2 <10}
dict_b

{0: 0, 1: 1, 2: 4, 3: 9}

In [266]:
# 문제 풀이
# 1부터 10까지의 숫자 리스트를 가지고
# 짝수만을 대상으로 하되
# 키는 각각의 숫자
# 값은 3제곱하는 딕셔너리 생성
dict_a = {i:i**3 for i in range(1,11) if i % 2 == 0}
dict_a

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}