<a href="https://colab.research.google.com/github/freamwork97/TIS/blob/main/%EC%A1%B0%EA%B1%B4%EB%AC%B8%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cond = True

if cond:
  print("참")
else:
  print('거짓')

참

In [ ]:
cond = False

if cond:
  print(1+2)
else:
  print(3+4)

7

# 비교 및 논리 연산자


**연산자** | **True를 반환하는 상황**
--|--
x < y | x가 y보다 작은 경우
x <= y | x가 y보다 작거나 같은 경우
x > y | x가 y보다 큰 경우
x >= y | x가 y보다 크거나 같은 경우
x == y | x와 y가 같은 경우
x != y | x와 y가 같지 않은 경우
x in y | x와 y에 포함되는 경우
x not in y | x와 y에 포함되지 않는 경우
x & y | x와 y가 모두 True인 경우
x \| y | x와 y중 하나가 True인 경우
not(x) | x가 False인 경우

In [ ]:
if 3>1:
  print('10분 휴식')
else:
  print('1111111')

10분 휴식

In [ ]:
print(3<2)
print(3==3)
print(2+2 != 5)
print(len('abc')>=2)
print(1 in [1,2,3,4])
print(1 not in [1,2,3,4])
print((3 >1) & (3<2))
print((3 >1) | (3<2))

if (0>1) | (3<2):
  print('go home')
else:
  print('not go home')

False
True
True
True
True
False
False
True
not go home

In [ ]:
L = [1,2,3]
s = 'abcde'
d = {'a':1,'b':2,'c':3}
print(1 in L)
print(2 not in L)
print('abc' in s)
print('ac' in s)
print('a' in d.keys())

True
False
True
False
True

In [ ]:
a=20
if a>80:
  print('a')
elif a>60:
  print('b')
elif a>40:
  print('c')
else:
  print('f')

f

In [ ]:
L = [1,2,3,4,5]
if (1 in L) and (6 in L):
  print('1과 6이 모두 L안에 있다')
elif 1 in L:
  print('6은 없고 1은 L안에 있다')
elif 6 in L:
  print('1은 없고 6은 L안에 있다')
else:
  print('1과 6이 모두 L안에 없다')

6은 없고 1은 L안에 있다

In [1]:
github_current_db = {'b' :30}

if "user_id_1" not in github_current_db.keys():
  github_current_db['user_id_1'] = 'someone1'
if 'user_id_2' not in github_current_db.keys():
  github_current_db['user_id_2'] = 'someone2'
if 'user_id_3' not in github_current_db.keys():
  github_current_db['user_id_3'] = 'someone3'

print(github_current_db)

{'b': 30, 'user_id_1': 'someone1', 'user_id_2': 'someone2', 'user_id_3': 'someone3'}