<a href="https://colab.research.google.com/github/freamwork97/TIS/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.Series([1,2,3],index=['첫번째','두번째','세번째'])

첫번째    1
두번째    2
세번째    3
dtype: int64

In [ ]:
s1 =pd.Series([1,2,3],index=['A','B','C'])

In [ ]:
s1 = s1.astype(float) # in-place 함수: 원본을 업데이트

display(s1)

A    1.0
B    2.0
C    3.0
dtype: float64

In [ ]:
s2 = pd.Series([10,20,30])
display(s2)

0    10
1    20
2    30
dtype: int64

In [ ]:
# 다음 조건을 만족하는 Series를 생성
# 값은 1~20로 구성
# 인덱스는 A1~A20
index = []
for i in range(1,21):
  index.append(f'A{i}')
a = pd.Series(list(range(1,21)),index=index)
a

A1      1
A2      2
A3      3
A4      4
A5      5
A6      6
A7      7
A8      8
A9      9
A10    10
A11    11
A12    12
A13    13
A14    14
A15    15
A16    16
A17    17
A18    18
A19    19
A20    20
dtype: int64

In [ ]:
b = range(1,21)
z = []
for i in b:
  z.append(f'A{i}')

c = pd.Series(b,index=z)
c

A1      1
A2      2
A3      3
A4      4
A5      5
A6      6
A7      7
A8      8
A9      9
A10    10
A11    11
A12    12
A13    13
A14    14
A15    15
A16    16
A17    17
A18    18
A19    19
A20    20
dtype: int64

In [ ]:
s3 = pd.Series({'A':1,'B':2,'C':3,'D':4})
display(s3)

A    1
B    2
C    3
D    4
dtype: int64

In [ ]:
s3.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
s3.values

array([1, 2, 3, 4])

In [ ]:
display(s3.index)
display(s3.values)

Index(['A', 'B', 'C', 'D'], dtype='object')

array([1, 2, 3, 4])

In [ ]:
print(type(s3.index))

<class 'pandas.core.indexes.base.Index'>

In [ ]:
print(s1.index.intersection(s3.index)) # s1 & s3
print(s1.index.union(s3.index)) # s1 | s3
print(s1.index.difference(s3.index)) # s1 - s3
print(s3.index.difference(s1.index)) # s3 - s1

Index(['A', 'B', 'C'], dtype='object')
Index(['A', 'B', 'C', 'D'], dtype='object')
Index([], dtype='object')
Index(['D'], dtype='object')

In [ ]:
s1 = pd.Series([1,2,3],index=[1,2,3])
s2 = pd.Series(['1','2','3'],index=[1,2,3])
print(s2)

1    1
2    2
3    3
dtype: object

In [ ]:
df1 = pd.DataFrame([[1,2],[3,4]],columns=['A','B'],index=['x','y'])
df1

   A  B
x  1  2
y  3  4

In [ ]:
df2 = pd.DataFrame([[1,2],[3,4]])
df2

   0  1
0  1  2
1  3  4

In [ ]:
df2.index

RangeIndex(start=0, stop=2, step=1)

In [ ]:
df3 = pd.DataFrame({'A':[1,2,3],'B':[4,5,6]},index=['x','y','z'])
df3

   A  B
x  1  4
y  2  5
z  3  6

In [ ]:
# 대소문자 알파벳 리스트
import string
lower = [i for i in string.ascii_lowercase]
print(lower)

upper = [i for i in string.ascii_uppercase]
print(upper)

lowup = [i for i in string.ascii_letters]
print(lowup)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
# 연습문제
# 다음 학생들의 과목별 성적이 다음과 같다
# 중첩리스트 구조를 활용
# 데이터프레임 생성
# 영희 국,영,수 성적: 80, 90, 100
# 철수 국,영,수 성적: 86, 91, 93
# 영자 국,영,수 성적: 50, 90, 10

df = pd.DataFrame([[80,90,100],
                   [86,91,93],
                   [50,90,10]],columns=['국','영','수'],index=['영희','철수','영자'])
df

     국   영    수
영희  80  90  100
철수  86  91   93
영자  50  90   10

In [ ]:
# 연습2
# 위와 같은 상황
# 딕셔너리 활용
df = pd.DataFrame({'영희':[80,90,100],
                   '철수':[86,91,93],
                   '영자':[50,90,10]},index=['국','영','수'])
df

    영희  철수  영자
국   80  86  50
영   90  91  90
수  100  93  10

In [ ]:
# 연습문제3: 다음 주간 식단을 데이터프레임 데이터 구조로 만들어 보세요.
# 월요일 밥,국,디저트: ‘쌀밥‘, ‘김치찌게‘, ‘샐러드’
# 화요일 밥,국,디저트: ‘잡곡밥‘, ‘된장찌게‘, ‘딸기맛 아이스크림’
# 수요일 밥,국,디저트: ‘쌀밥‘, ‘아욱국‘, ‘오렌지주스’
# 목요일 밥,국,디저트: ‘잡곡밥‘, ‘미역국‘, ‘바나나맛 아이스크림’
# 금요일 밥,국,디저트: ‘쌀밥‘, ‘소고기국‘, ‘포도주스’

df = pd.DataFrame({'월요일':['쌀밥','김치찌게','샐러드'],
                   '화요일':['잡곡밥','된장찌게','딸기맛 아이스크림'],
                   '수요일':['쌀밥','아욱국','오렌지주스'],
                   '목요일':['잡곡밥','미역국','바나나맛 아이스크림'],
                   '금요일':['쌀밥','소고기국','포도주스']},index=['밥','국','디저트'])
df

      월요일        화요일    수요일         목요일   금요일
밥      쌀밥        잡곡밥     쌀밥         잡곡밥    쌀밥
국    김치찌게       된장찌게    아욱국         미역국  소고기국
디저트   샐러드  딸기맛 아이스크림  오렌지주스  바나나맛 아이스크림  포도주스

In [115]:
msg_list = ['numpy','pandas','matplotlib']
data = []
for msg in msg_list:
  record = [msg]
  for x in ['a','p','n']:
    record.append(msg.count(x))
  data.append(record)

data = pd.DataFrame(data, columns=['message','a','p','n'])
data

      message  a  p  n
0       numpy  0  1  1
1      pandas  2  1  1
2  matplotlib  1  1  0

In [105]:
['p','a','n','d','a','s'].count('a')

2

In [109]:
'pandas'.count('a')

2