<a href="https://colab.research.google.com/github/freamwork97/TIS/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.Series([1,2,3],index=['첫번째','두번째','세번째'])

첫번째    1
두번째    2
세번째    3
dtype: int64

In [ ]:
s1 =pd.Series([1,2,3],index=['A','B','C'])

In [ ]:
s1 = s1.astype(float) # in-place 함수: 원본을 업데이트

display(s1)

A    1.0
B    2.0
C    3.0
dtype: float64

In [ ]:
s2 = pd.Series([10,20,30])
display(s2)

0    10
1    20
2    30
dtype: int64

In [ ]:
# 다음 조건을 만족하는 Series를 생성
# 값은 1~20로 구성
# 인덱스는 A1~A20
index = []
for i in range(1,21):
  index.append(f'A{i}')
a = pd.Series(list(range(1,21)),index=index)
a

A1      1
A2      2
A3      3
A4      4
A5      5
A6      6
A7      7
A8      8
A9      9
A10    10
A11    11
A12    12
A13    13
A14    14
A15    15
A16    16
A17    17
A18    18
A19    19
A20    20
dtype: int64

In [ ]:
b = range(1,21)
z = []
for i in b:
  z.append(f'A{i}')

c = pd.Series(b,index=z)
c

A1      1
A2      2
A3      3
A4      4
A5      5
A6      6
A7      7
A8      8
A9      9
A10    10
A11    11
A12    12
A13    13
A14    14
A15    15
A16    16
A17    17
A18    18
A19    19
A20    20
dtype: int64

In [ ]:
s3 = pd.Series({'A':1,'B':2,'C':3,'D':4})
display(s3)

A    1
B    2
C    3
D    4
dtype: int64

In [ ]:
s3.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
s3.values

array([1, 2, 3, 4])

In [ ]:
display(s3.index)
display(s3.values)

Index(['A', 'B', 'C', 'D'], dtype='object')

array([1, 2, 3, 4])

In [ ]:
print(type(s3.index))

<class 'pandas.core.indexes.base.Index'>

In [ ]:
print(s1.index.intersection(s3.index)) # s1 & s3
print(s1.index.union(s3.index)) # s1 | s3
print(s1.index.difference(s3.index)) # s1 - s3
print(s3.index.difference(s1.index)) # s3 - s1

Index(['A', 'B', 'C'], dtype='object')
Index(['A', 'B', 'C', 'D'], dtype='object')
Index([], dtype='object')
Index(['D'], dtype='object')

In [ ]:
s1 = pd.Series([1,2,3],index=[1,2,3])
s2 = pd.Series(['1','2','3'],index=[1,2,3])
print(s2)

1    1
2    2
3    3
dtype: object

In [ ]:
df1 = pd.DataFrame([[1,2],[3,4]],columns=['A','B'],index=['x','y'])
df1

   A  B
x  1  2
y  3  4

In [ ]:
df2 = pd.DataFrame([[1,2],[3,4]])
df2

   0  1
0  1  2
1  3  4

In [ ]:
df2.index

RangeIndex(start=0, stop=2, step=1)

In [ ]:
df3 = pd.DataFrame({'A':[1,2,3],'B':[4,5,6]},index=['x','y','z'])
df3

   A  B
x  1  4
y  2  5
z  3  6

In [ ]:
# 대소문자 알파벳 리스트
import string
lower = [i for i in string.ascii_lowercase]
print(lower)

upper = [i for i in string.ascii_uppercase]
print(upper)

lowup = [i for i in string.ascii_letters]
print(lowup)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
# 연습문제
# 다음 학생들의 과목별 성적이 다음과 같다
# 중첩리스트 구조를 활용
# 데이터프레임 생성
# 영희 국,영,수 성적: 80, 90, 100
# 철수 국,영,수 성적: 86, 91, 93
# 영자 국,영,수 성적: 50, 90, 10

df = pd.DataFrame([[80,90,100],
                   [86,91,93],
                   [50,90,10]],columns=['국','영','수'],index=['영희','철수','영자'])
df

     국   영    수
영희  80  90  100
철수  86  91   93
영자  50  90   10

In [ ]:
# 연습2
# 위와 같은 상황
# 딕셔너리 활용
df = pd.DataFrame({'영희':[80,90,100],
                   '철수':[86,91,93],
                   '영자':[50,90,10]},index=['국','영','수'])
df

    영희  철수  영자
국   80  86  50
영   90  91  90
수  100  93  10

In [ ]:
# 연습문제3: 다음 주간 식단을 데이터프레임 데이터 구조로 만들어 보세요.
# 월요일 밥,국,디저트: ‘쌀밥‘, ‘김치찌게‘, ‘샐러드’
# 화요일 밥,국,디저트: ‘잡곡밥‘, ‘된장찌게‘, ‘딸기맛 아이스크림’
# 수요일 밥,국,디저트: ‘쌀밥‘, ‘아욱국‘, ‘오렌지주스’
# 목요일 밥,국,디저트: ‘잡곡밥‘, ‘미역국‘, ‘바나나맛 아이스크림’
# 금요일 밥,국,디저트: ‘쌀밥‘, ‘소고기국‘, ‘포도주스’

df = pd.DataFrame({'월요일':['쌀밥','김치찌게','샐러드'],
                   '화요일':['잡곡밥','된장찌게','딸기맛 아이스크림'],
                   '수요일':['쌀밥','아욱국','오렌지주스'],
                   '목요일':['잡곡밥','미역국','바나나맛 아이스크림'],
                   '금요일':['쌀밥','소고기국','포도주스']},index=['밥','국','디저트'])
df

      월요일        화요일    수요일         목요일   금요일
밥      쌀밥        잡곡밥     쌀밥         잡곡밥    쌀밥
국    김치찌게       된장찌게    아욱국         미역국  소고기국
디저트   샐러드  딸기맛 아이스크림  오렌지주스  바나나맛 아이스크림  포도주스

In [ ]:
msg_list = ['numpy','pandas','matplotlib']
data = []
for msg in msg_list:
  record = [msg]
  for x in ['a','p','n']:
    record.append(msg.count(x))
  data.append(record)

data = pd.DataFrame(data, columns=['message','a','p','n'])
data

      message  a  p  n
0       numpy  0  1  1
1      pandas  2  1  1
2  matplotlib  1  1  0

In [ ]:
['p','a','n','d','a','s'].count('a')

2

In [ ]:
'pandas'.count('a')

2

In [1]:
import pandas as pd

s = pd.Series(['A','B','C','D'], index =[1,3,5,7])
s

1    A
3    B
5    C
7    D
dtype: object

In [2]:
pd.Series([1,2,3], index=['첫번째','두번째','세번째'])

첫번째    1
두번째    2
세번째    3
dtype: int64

In [4]:
import numpy as np
import pandas as pd

In [8]:
s = pd.Series(['A','B','C','D'],index=[1,3,5,7])
s

1    A
3    B
5    C
7    D
dtype: object

In [15]:
print('인덱스가 1인 요소 추출')
print(s.loc[1])
print('-'*20)
print('인덱스가 5부터 7인 요소 추출')
print(s.loc[5:7])
print('-'*20)
print('인덱스가 7인 요소 추출')
print(s.loc[7])

인덱스가 1인 요소 추출
A
--------------------
인덱스가 5부터 7인 요소 추출
5    C
7    D
dtype: object
--------------------
인덱스가 7인 요소 추출
D

In [19]:
print(s)
print('\n 0번째 위치의 요소 출력')
print(s.iloc[0])
print('\n 1번째 위치부터 3번째 위치 요소 출력')
display(s.iloc[1:3])

1    A
3    B
5    C
7    D
dtype: object

 0번째 위치의 요소 출력
A

 1번째 위치부터 3번째 위치 요소 출력

3    B
5    C
dtype: object

In [140]:
df = pd.DataFrame({
    "A":[1,2,3,4],
    'B':[10,20,30,40],
    "C":[5,6,7,8]}, index=[1,3,5,7]    
)
df

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8

In [27]:
display(df)
print('\n인덱스 1인 행 출력')
display(df.loc[1])
print('\n인덱스 5인 행 출력')
print(df.loc[5])
print('\n 0번째 위치에 있는 행 출력')
display(df.iloc[0])
print('\n 1번째 위치에 있는 행 출력')
print(df.iloc[1])

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8

인덱스 1인 행 출력

A     1
B    10
C     5
Name: 1, dtype: int64

인덱스 5인 행 출력
A     3
B    30
C     7
Name: 5, dtype: int64

 0번째 위치에 있는 행 출력

A     1
B    10
C     5
Name: 1, dtype: int64

 1번째 위치에 있는 행 출력
A     2
B    20
C     6
Name: 3, dtype: int64

In [29]:
display(df.loc[1:3])
print('-'*20)
display(df.iloc[0:1])

   A   B  C
1  1  10  5
3  2  20  6

--------------------

   A   B  C
1  1  10  5

In [34]:
display(df.loc[1:3])
print('-'*20)
display(df.loc[1:3,:])

   A   B  C
1  1  10  5
3  2  20  6

--------------------

   A   B  C
1  1  10  5
3  2  20  6

In [39]:
print(df.loc[1:3,'A':'B'])
print(df.loc[3,'B'])
print(df.iloc[0,1])
print(df.iloc[1,2])

   A   B
1  1  10
3  2  20
20
10
6

In [127]:
# 연습문제

# 다음 시리즈의 임의의 3개의 요소를
# 각각 loc 와 iloc 사용 추출

s = pd.Series(range(5),index=['A','B','C','D','E'])
print(s)
print('-'*20)
print('s.loc[]')
print('-'*20)
print(s.loc['A':'C'])
print('-'*20)
print(s.loc['A'])
print('-'*20)
print(s.loc['C'])
print('-'*20)
print(s.loc['B'])
print('-'*20)

print('s.iloc[]')
print('-'*20)
print(s.iloc[0:3])
print('-'*20)
print(s.iloc[0])
print('-'*20)
print(s.iloc[2])
print('-'*20)
print(s.iloc[1])

A    0
B    1
C    2
D    3
E    4
dtype: int64
--------------------
s.loc[]
--------------------
A    0
B    1
C    2
dtype: int64
--------------------
0
--------------------
2
--------------------
1
--------------------
s.iloc[]
--------------------
A    0
B    1
C    2
dtype: int64
--------------------
0
--------------------
2
--------------------
1

In [118]:
# 다음 데이터 프레임을 대상으로
# 임의의 3개의 요소를 각각 loc와 iloc 사용 추출

df = pd.DataFrame(np.arange(24).reshape(6,4), columns=['A','B','C','D'],index=['국','영','수','역사','문학','지리'])
display(df)
print('-'*20)

display(df.loc['국':'수','A':'C'])
print('-'*20)
display(df.loc['국','A'])
print('-'*20)
display(df.loc['영','C'])
print('-'*20)
display(df.loc['문학','D'])
print('-'*20)

display(df.iloc[0:2])
print('-'*20)
display(df.iloc[0,0])
print('-'*20)
display(df.iloc[1,2])
print('-'*20)
display(df.iloc[4,3])

     A   B   C   D
국    0   1   2   3
영    4   5   6   7
수    8   9  10  11
역사  12  13  14  15
문학  16  17  18  19
지리  20  21  22  23

--------------------

   A  B   C
국  0  1   2
영  4  5   6
수  8  9  10

--------------------

0

--------------------

6

--------------------

19

--------------------

   A  B  C  D
국  0  1  2  3
영  4  5  6  7

--------------------

0

--------------------

6

--------------------

19

In [121]:
# 3.위 문제에서 A,B,C의 영어, 수학, 역사 점수를 추출하시오.

df = pd.DataFrame(np.arange(24).reshape(6,4), columns=['A','B','C','D'],index=['국','영','수','역사','문학','지리'])
display(df)
print('-'*20)

display(df.loc['영':'역사','A':'C'])
print('-'*20)
display(df.iloc[1:4,0:3])
print('-'*20)
df.loc[['영','역사'],['A','C']]

     A   B   C   D
국    0   1   2   3
영    4   5   6   7
수    8   9  10  11
역사  12  13  14  15
문학  16  17  18  19
지리  20  21  22  23

--------------------

     A   B   C
영    4   5   6
수    8   9  10
역사  12  13  14

--------------------

     A   B   C
영    4   5   6
수    8   9  10
역사  12  13  14

--------------------

     A   C
영    4   6
역사  12  14

In [93]:
# 대소문자 알파벳 리스트
import string
lower = [i for i in string.ascii_lowercase]
print(lower)

upper = [i for i in string.ascii_uppercase]
print(upper)

lowup = [i for i in string.ascii_letters]
print(lowup)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [105]:
df = pd.DataFrame(np.arange(24).reshape(6,4), columns=upper[0:4],index=['국','영','수','역사','문학','지리'])
display(df)
print('-'*20)
df.loc['영':'역사','A':'C']

     A   B   C   D
국    0   1   2   3
영    4   5   6   7
수    8   9  10  11
역사  12  13  14  15
문학  16  17  18  19
지리  20  21  22  23

--------------------

     A   B   C
영    4   5   6
수    8   9  10
역사  12  13  14

In [117]:
s = pd.Series(range(5),index=lower[0:5])
s
display(s.loc['a'])
display(s.loc['c'])
display(s.loc['e'])
print('-'*20)
display(s.iloc[0])
display(s.iloc[2])
display(s.iloc[4])

0

2

4

--------------------

0

2

4

In [129]:
# s 시리즈의 인덱스 100
# 값 3000인 요소 추가
s.loc[100] = 3000
s

A         0
B         1
C         2
D         3
E         4
100    3000
dtype: int64

In [138]:
s = pd.Series(upper[0:5],index=range(5))
s
s.loc[100]= 3000
s

0         A
1         B
2         C
3         D
4         E
100    3000
dtype: object

In [297]:
df = pd.DataFrame({
    "A":[1,2,3,4],
    'B':[10,20,30,40],
    "C":[5,6,7,8]}, index=[1,3,5,7]    
)
df

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8

In [143]:
df.loc[9] = [5,50,9]
df

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8
9  5  50  9

In [303]:
# 연습 : df에 행을 추가 A칼럼 맨 하단에 'A의 점수'
# B칼럼 밑에 'B의점수'
# C칼럼 밑에 'C의점수'
# 인덱스 비고

df = pd.DataFrame({
    "A":[1,2,3,4],
    'B':[10,20,30,40],
    "C":[5,6,7,8]}, index=[1,3,5,7]    
)
display(df)
print('-'*20)

df.loc['비고'] = ['A의점수','B의점수','C의점수']
df

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8

--------------------

       A     B     C
1      1    10     5
3      2    20     6
5      3    30     7
7      4    40     8
비고  A의점수  B의점수  C의점수

In [165]:
display(df['A'])
display(df.A)

1        1
3        2
5        3
7        4
비고    A의점수
Name: A, dtype: object

1        1
3        2
5        3
7        4
비고    A의점수
Name: A, dtype: object

In [171]:
# df에서 A와 C의 모든 과목 점수 추출
display(df[['A','C']])

       A     C
1      1     5
3      2     6
5      3     7
7      4     8
비고  A의점수  C의점수

In [175]:
a = pd.DataFrame(np.arange(24).reshape(6,4), columns=upper[0:4],index=['국','영','수','역사','문학','지리'])
display(a[['A','C']])

     A   C
국    0   2
영    4   6
수    8  10
역사  12  14
문학  16  18
지리  20  22

In [176]:
df['A']

1        1
3        2
5        3
7        4
비고    A의점수
Name: A, dtype: object

In [179]:
df[['A','C']]

       A     C
1      1     5
3      2     6
5      3     7
7      4     8
비고  A의점수  C의점수

In [304]:
df['D'] = [-1,-2,-3,-4,'D의점수']
df

       A     B     C     D
1      1    10     5    -1
3      2    20     6    -2
5      3    30     7    -3
7      4    40     8    -4
비고  A의점수  B의점수  C의점수  D의점수

In [298]:
df['D'] = 0

In [195]:
df

       A     B     C  D
1      1    10     5  0
3      2    20     6  0
5      3    30     7  0
7      4    40     8  0
비고  A의점수  B의점수  C의점수  0

In [305]:
df['D'] = np.nan # 결측치

In [206]:
df

       A     B  C  D
1      1    10  0  1
3      2    20  2  3
5      3    30  4  5
7      4    40  6  7
비고  A의점수  B의점수  8  9

In [306]:
df.loc[9] = [5,50,8,9]

In [301]:
df

   A   B  C  D
1  1  10  5  0
3  2  20  6  0
5  3  30  7  0
7  4  40  8  0
9  5  50  8  9

In [307]:
df[['C','D']]= np.arange(0,12).reshape(6,2)

In [211]:
df

       A     B   C   D
1      1    10   0   1
3      2    20   2   3
5      3    30   4   5
7      4    40   6   7
비고  A의점수  B의점수   8   9
9      5    50  10  11

In [308]:
# 연습 : 두개 칼럼 추가
# 칼럼명 임의로
# 값은 np.random.random()*100을 이용

df[['E','F']]= np.random.random((6,2))*100
display(df)

       A     B   C   D          E          F
1      1    10   0   1  99.890061  64.383182
3      2    20   2   3  52.586034  81.230577
5      3    30   4   5  75.221610  32.188490
7      4    40   6   7  21.417899  55.154182
비고  A의점수  B의점수   8   9  65.098664  91.891847
9      5    50  10  11  57.545445  43.441705

In [309]:
a= []
c=[]
for i in range(6):
  b = np.random.random()*100
  d = np.random.random()*100
  a.append(b)
  c.append(d)
df['E']=a
df['F']=c
df

       A     B   C   D          E          F
1      1    10   0   1  66.814439  68.478915
3      2    20   2   3  72.460026  82.623648
5      3    30   4   5  54.400903  23.112598
7      4    40   6   7  36.202978  81.137538
비고  A의점수  B의점수   8   9  15.738886  99.081800
9      5    50  10  11  99.941588  10.448324

In [310]:
# 정수로 
df[['E','F']]= np.random.randint(100,size=(6,2))
df

       A     B   C   D   E   F
1      1    10   0   1  90  40
3      2    20   2   3  42  60
5      3    30   4   5  17  71
7      4    40   6   7  46  97
비고  A의점수  B의점수   8   9  34  62
9      5    50  10  11  58  23

In [311]:
cond = df['C'] % 2 == 0 # 조건 설정 / 변수에 저장
display(cond)
display(df.loc[cond])

1     True
3     True
5     True
7     True
비고    True
9     True
Name: C, dtype: bool

       A     B   C   D   E   F
1      1    10   0   1  90  40
3      2    20   2   3  42  60
5      3    30   4   5  17  71
7      4    40   6   7  46  97
비고  A의점수  B의점수   8   9  34  62
9      5    50  10  11  58  23

In [408]:
# 추가한 컬럼 하나의 각 요소의
# 점수가 50점을 초과하는 모든 행을 추출
# 추가한 컬럼 2개만 추출
# 조건 0~100 사이의 임의의 랜덤 점수
# 학생은 4명(a,b,c,d) 
# 과목은 영,수,과
# B학생의 과목별 점수 20점 이상인 데이터를 기준으로
# C,D 학생 점수만 추출

a = pd.DataFrame(np.random.randint(100,size=(3,4)),columns=['a','b','c','d'],index=['영','수','과'])
a

    a   b   c   d
영  80  83  69  93
수  75  87  14   6
과  42  60  15  32

In [395]:
cond = a['b'] >= 20
cond

영    True
수    True
과    True
Name: b, dtype: bool

In [396]:
a.loc[cond,['c','d']]

    c   d
영  44  58
수  41  18
과  10  30

In [409]:
display(a['b'].isin([30,20]))

영    False
수    False
과    False
Name: b, dtype: bool

In [411]:
a.loc[a['b'].isin([30,20])]

Empty DataFrame
Columns: [a, b, c, d]
Index: []