<a href="https://colab.research.google.com/github/freamwork97/TIS/blob/main/%ED%95%A8%EC%88%98%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum(a,b):
  return a+b
def minus(a,b):
  return a-b
def div(a,b):
  return a/b
def mul(a,b):
  return a*b
print(sum(5,6))
print(minus(5,9))
print(div(8,4))
print(mul(9,7))

11
-4
2.0
63

In [ ]:
def add(i):
  x = i + 1
  return x

print(add(5))

6

In [ ]:
def 세제곱(i):
  x = i**3
  return x

print(세제곱(4))

64

In [ ]:
def f(x):
  y = 2* x - 1
  return y

print(f(5))

9

In [ ]:
# 숫자 x를 입력하면 제곱이 반환 되는 함수
def xx(a):
  x = a**2
  return x
print(xx(3))

9

In [ ]:
# 짝수가 입력되면 짝수 홀수가 입력돼면 홀수를 출력
# 임의의 짝수 홀수 입력하여 함수 호출

def a(b):
  if b % 2 == 0:
    return "짝수"
  else:
    return "홀수"

for i in range(1,10):
  print(a(i))

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수

In [ ]:
def abstract(a,b):
  return a-b

In [ ]:
print(abstract(8,9))

-1

In [ ]:
print(abstract(b=7,a=9))

2

In [ ]:
# 3개 인자를 받아 모두 더하여 반환하는 함수
def add(a,b,c):
  return a+b+c

print(add(8,9,7))

24

In [2]:
def print_n_times(msg,n=2): # n = 2 로 n을 기본값으로 2를 사용하겠다 선언
  for _ in range(n): # for문의 변수가 활용되지 않고 단순하게 n번 반복하겠다
    print(msg)

In [4]:
a = input()
print('-'*10)
print_n_times(a,7)

hello
----------
hello
hello
hello
hello
hello
hello
hello

In [8]:
def 세제곱(a):
  b = a**3
  return b

세제곱(9)

729

In [9]:
def f(x):
  y = 3*x + 3
  return y

f(5)

18

In [10]:
def minus(a,b):
  c = a-b
  return c

minus(87,36)

51

In [11]:
def mul(a,b):
  c = a*b
  return c

mul(85,10)

850

In [12]:
print(minus(b=10,a=54))

44

In [13]:
def a(a,b,c):
  d = a+b+c
  e = a-b-c
  return d,e

a(5,4,3)

(12, -2)

In [18]:
def print_n_msg(msg,n=3):
  for _ in range(n):
    print(msg)

print_n_msg('hello')

hello
hello
hello

In [44]:
# 함수(r1_caffeteria_menu)만들자
# 밥 (rice_kind) 국(soup_kind) 후식(dessert_kind) 키로 하는 딕셔너리 반환
# 후식 디폴트는 ;매실차
def r1_caffeteria_menu(rice_kind, soup_kind,dessert_kind = '매실차'):
  return {'밥': rice_kind, '국':soup_kind,'후식':dessert_kind}

print(r1_caffeteria_menu('쌀밥','된장국'))
print('-'*10)
# 반찬 dish_kind
def r1_caffeteria_menu2(rice_kind, soup_kind,dish_kind,dessert_kind = '매실차'):
  return {'밥': rice_kind, '국':soup_kind,'반찬':dish_kind ,'후식':dessert_kind}


print(r1_caffeteria_menu2('잡곡밥','소고기무국','제육','오렌지'))
print(r1_caffeteria_menu2('쌀밥','된장국','제육'))

{'밥': '쌀밥', '국': '된장국', '후식': '매실차'}
----------
{'밥': '잡곡밥', '국': '소고기무국', '반찬': '제육', '후식': '오렌지'}
{'밥': '쌀밥', '국': '된장국', '반찬': '제육', '후식': '매실차'}

In [41]:
today_menu = r1_caffeteria_menu2('흰쌀밥','콩나물국','계란말이','오렌지주스')
# 오늘의 반찬을 출력
today_menu['반찬']

'계란말이'

In [42]:
d1 = {'밥':'흰쌀밥','국':'콩나물국','반찬':'계란말이','후식':'오렌지주스'}
d1['반찬']

'계란말이'

In [46]:
result = print_n_times('출력이 없는 함수',1)
print(result)

출력이 없는 함수
None

# 람다(lambda)
람다 = 익명함수 

함수이름 명시x

In [48]:
simple = lambda x: x+2
simple(5)

7

In [52]:
minus = lambda x, y : x-y
minus(8,6)

2