<a href="https://colab.research.google.com/github/freamwork97/TIS/blob/main/%ED%95%A8%EC%88%98%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum(a,b):
  return a+b
def minus(a,b):
  return a-b
def div(a,b):
  return a/b
def mul(a,b):
  return a*b
print(sum(5,6))
print(minus(5,9))
print(div(8,4))
print(mul(9,7))

11
-4
2.0
63

In [ ]:
def add(i):
  x = i + 1
  return x

print(add(5))

6

In [ ]:
def 세제곱(i):
  x = i**3
  return x

print(세제곱(4))

64

In [ ]:
def f(x):
  y = 2* x - 1
  return y

print(f(5))

9

In [ ]:
# 숫자 x를 입력하면 제곱이 반환 되는 함수
def xx(a):
  x = a**2
  return x
print(xx(3))

9

In [ ]:
# 짝수가 입력되면 짝수 홀수가 입력돼면 홀수를 출력
# 임의의 짝수 홀수 입력하여 함수 호출

def a(b):
  if b % 2 == 0:
    return "짝수"
  else:
    return "홀수"

for i in range(1,10):
  print(a(i))

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수

In [ ]:
def abstract(a,b):
  return a-b

In [ ]:
print(abstract(8,9))

-1

In [ ]:
print(abstract(b=7,a=9))

2

In [ ]:
# 3개 인자를 받아 모두 더하여 반환하는 함수
def add(a,b,c):
  return a+b+c

print(add(8,9,7))

24

In [ ]:
def print_n_times(msg,n=2): # n = 2 로 n을 기본값으로 2를 사용하겠다 선언
  for _ in range(n): # for문의 변수가 활용되지 않고 단순하게 n번 반복하겠다
    print(msg)

In [ ]:
a = input()
print('-'*10)
print_n_times(a,7)

hello
----------
hello
hello
hello
hello
hello
hello
hello

In [ ]:
def 세제곱(a):
  b = a**3
  return b

세제곱(9)

729

In [ ]:
def f(x):
  y = 3*x + 3
  return y

f(5)

18

In [ ]:
def minus(a,b):
  c = a-b
  return c

minus(87,36)

51

In [ ]:
def mul(a,b):
  c = a*b
  return c

mul(85,10)

850

In [ ]:
print(minus(b=10,a=54))

44

In [ ]:
def a(a,b,c):
  d = a+b+c
  e = a-b-c
  return d,e

a(5,4,3)

(12, -2)

In [ ]:
def print_n_msg(msg,n=3):
  for _ in range(n):
    print(msg)

print_n_msg('hello')

hello
hello
hello

In [ ]:
# 함수(r1_caffeteria_menu)만들자
# 밥 (rice_kind) 국(soup_kind) 후식(dessert_kind) 키로 하는 딕셔너리 반환
# 후식 디폴트는 ;매실차
def r1_caffeteria_menu(rice_kind, soup_kind,dessert_kind = '매실차'):
  return {'밥': rice_kind, '국':soup_kind,'후식':dessert_kind}

print(r1_caffeteria_menu('쌀밥','된장국'))
print('-'*10)
# 반찬 dish_kind
def r1_caffeteria_menu2(rice_kind, soup_kind,dish_kind,dessert_kind = '매실차'):
  return {'밥': rice_kind, '국':soup_kind,'반찬':dish_kind ,'후식':dessert_kind}


print(r1_caffeteria_menu2('잡곡밥','소고기무국','제육','오렌지'))
print(r1_caffeteria_menu2('쌀밥','된장국','제육'))

{'밥': '쌀밥', '국': '된장국', '후식': '매실차'}
----------
{'밥': '잡곡밥', '국': '소고기무국', '반찬': '제육', '후식': '오렌지'}
{'밥': '쌀밥', '국': '된장국', '반찬': '제육', '후식': '매실차'}

In [ ]:
today_menu = r1_caffeteria_menu2('흰쌀밥','콩나물국','계란말이','오렌지주스')
# 오늘의 반찬을 출력
today_menu['반찬']

'계란말이'

In [ ]:
d1 = {'밥':'흰쌀밥','국':'콩나물국','반찬':'계란말이','후식':'오렌지주스'}
d1['반찬']

'계란말이'

In [ ]:
result = print_n_times('출력이 없는 함수',1)
print(result)

출력이 없는 함수
None

# 람다(lambda)
람다 = 익명함수 

함수이름 명시x

In [ ]:
simple = lambda x: x+2
simple(5)

7

In [ ]:
minus = lambda x, y : x-y
minus(8,6)

2

In [57]:
# 윤년을 나타나는 수가 입력되면 윤년이라는 문자열을, 그렇지 않은 수가 입력되면 평년이라는 문자열을 반환하는 함수를 만든다.
def a(a):
  if a % 4 == 0:
    print('윤년')
  else:
    print('평년')
a(2024)

윤년

In [61]:
# 본인 이름과 좋아하는 동물 입력
# 해당 이름과 동물이 튜플로 반환하는 함수(my_favorite_animal)
# 동물 기본값 : 동물은 다 좋아요

def my_favorite_animal(name,animal='동물은 다 좋아요'):
  return (name,animal)

print(my_favorite_animal('정승용','개'))
print(my_favorite_animal('정승용','고양이'))
print(my_favorite_animal('정승용'))

('정승용', '개')
('정승용', '고양이')
('정승용', '동물은 다 좋아요')

In [116]:
# 평년일 때 1, 3, 5, 7, 8, 10, 12 월은 31일, 4, 6, 9, 11월은 30일, 2월은 28일이다. 
# 월을 나타내는 숫자를 입력하면 그 달의 날짜 수를 반환하는 함수 days1 를 만든다. 
def days1(a):
  if a == 1 or a == 3 or a == 5 or a == 7 or a == 8 or a == 10 or a == 12:
    print('31')
  elif a == 2:
    print('28')
  elif a ==4 or a==6 or a==9 or a==11:
    print('30')
  else:
    print('ERROR')
days1(13)

ERROR

In [115]:
# 본인 이름을 입력하면 '본인 이름은 멋져요 ' 출력되는 함수
# hint 문자열의 연결은 +

def my_name(name):
    print(name +'은(는) 멋져요')

my_name('정승용')

정승용은(는) 멋져요

In [76]:
# 숫자 입력하면 그 숫자에 1000을 더하여 반환하는 함수
def num(a):
  b = a+1000
  return b

num(5)

1005

In [77]:
# 좋아하는 숫자 2개를 입력
# 두 숫자를 '리스트'로 반환하는 함수

def num_list(a,b):
  return [a,b]
num_list(5,8)

[5, 8]

In [79]:
# 본인 이름과 거주지를 입력
# 딕셔너리로 반환하는 함수

def name_home(name,home):
  return {'이름':name,'거주지':home}

name_home('정승용','청라')

{'이름': '정승용', '거주지': '청라'}

In [120]:
# 평년일 때 1, 3, 5, 7, 8, 10, 12 월은 31일, 4, 6, 9, 11월은 30일, 2월은 28일이다. 
# 월을 나타내는 숫자를 입력하면 그 달의 날짜 수를 반환하는 함수 days 를 만든다. 
# 윤년일 때 2월은 29일

def days(b,a):
  if b % 4 == 0:
    print('윤년')
    if a == 1 or a == 3 or a == 5 or a == 7 or a == 8 or a == 10 or a == 12:
      print('31')
    elif a == 2:
      print('29')
    elif a ==4 or a==6 or a==9 or a==11:
      print('30')
    else:
      print('ERROR')
  else:
    print('평년')
    if a == 1 or a == 3 or a == 5 or a == 7 or a == 8 or a == 10 or a == 12:
      print('31')
    elif a == 2:
      print('28')
    elif a ==4 or a==6 or a==9 or a==11:
      print('30')
    else:
      print('ERROR')
days(2024,1)

윤년
31

In [127]:
# 본인 이름을 입력하면 '본인 이름은 멋져요 ' 출력되는 함수
# hint 문자열의 연결은 +

def my_name(name):
    return name + '은(는) 멋져요'

print(my_name('정승용'))

정승용은(는) 멋져요