<a href="https://colab.research.google.com/github/freamwork97/TIS/blob/main/%ED%95%A8%EC%88%98%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def sum(a,b):
  return a+b
def minus(a,b):
  return a-b
def div(a,b):
  return a/b
def mul(a,b):
  return a*b
print(sum(5,6))
print(minus(5,9))
print(div(8,4))
print(mul(9,7))

11
-4
2.0
63

In [26]:
def add(i):
  x = i + 1
  return x

print(add(5))

6

In [28]:
def 세제곱(i):
  x = i**3
  return x

print(세제곱(4))

64

In [34]:
def f(x):
  y = 2* x - 1
  return y

print(f(5))

9

In [35]:
# 숫자 x를 입력하면 제곱이 반환 되는 함수
def xx(a):
  x = a**2
  return x
print(xx(3))

9

In [65]:
# 짝수가 입력되면 짝수 홀수가 입력돼면 홀수를 출력
# 임의의 짝수 홀수 입력하여 함수 호출

def a(b):
  if b % 2 == 0:
    return "짝수"
  else:
    return "홀수"

for i in range(1,10):
  print(a(i))

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수

In [68]:
def abstract(a,b):
  return a-b

In [69]:
print(abstract(8,9))

-1

In [76]:
print(abstract(b=7,a=9))

2

In [81]:
# 3개 인자를 받아 모두 더하여 반환하는 함수
def add(a,b,c):
  return a+b+c

print(add(8,9,7))

24

In [104]:
def print_n_times(msg,n=2): # n = 2 로 n을 기본값으로 2를 사용하겠다 선언
  for _ in range(n): # for문의 변수가 활용되지 않고 단순하게 n번 반복하겠다
    print(msg)

In [110]:
a = input()
print('-'*10)
print_n_times(a,7)

5
----------
5
5
5
5
5
5
5